:root {
  --font-heading: "SVN-Domaine Display", sans-serif;
  --font-body: "SFU Futura", sans-serif;
  --font-tag: "Hermes", sans-serif;
  --color-primary: #84161a;
  --color-secondary: #a91d36;
  --color-white: #ffffff;
  --color-blue-cyan: #008dc4;
  --color-cream: #f0ecee;
}
.font-heading {
  font-family: var(--font-heading);
}
.font-body {
  font-family: var(--font-body);
}
.font-tag {
  font-family: var(--font-tag);
}
.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-white {
  color: var(--color-white);
}
.color-blue-cyan {
  color: var(--color-blue-cyan);
}
.h0-font {
  font-size: 80px;
  line-height: 80px;
}
.h1-font {
  font-size: 24px;
  line-height: 32px;
}
.b0-font {
  font-size: 18px;
  line-height: 26px;
}
.b1-font {
  font-size: 16px;
  line-height: 24px;
}
.b2-font {
  font-size: 14px;
  line-height: 20px;
}
.fw-regular {
  font-weight: 400;
}
.font-tag {
  font-size: 48px;
  line-height: 40px;
}
.f40-56 {
  font-size: 40px;
  line-height: 56px;
}
.f48-1 {
  font-size: 48px;
  line-height: 1;
}
.spacing-14x {
  height: 140px;
}
.spacing-1x {
  height: 100px;
}
